<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';

defineProps({ accessToken: String })

</script>

<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Dashboard</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6">Você está no painel administrativo</div>
                </div>


                <div class="bg-white mt-4 overflow-hidden shadow-sm sm:rounded-lg" v-if="!accessToken">
                    <div class="p-6 text-gray-900">
                        <a href="/mercadolibre/oauth-redirect">Mercadolibre Oauth</a>
                    </div>
                </div>

                <div class="bg-white mt-4 overflow-hidden shadow-sm sm:rounded-lg" v-if="accessToken">
                    <div class="p-6 text-gray-900">
                        <a href="/mercadolibre/session-logout">Logout MercadoLivre</a>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
