<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import { reactive, ref } from 'vue';
import moment from 'moment';

defineProps({
    items: Array,
})

function destroy( id ) {
    router.delete('/admin/item/destroy/' + id)
}
function dateTime(value) {
    return moment(value).format('DD/MM/YYYY HH:mm:ss');
}

</script>


<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Dashboard</h2>
        </template>


        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

            <div class="w-full max-w-7xl mt-10 mx-auto bg-white shadow-lg rounded-lg border border-gray-200">
                <header class="px-5 py-4 border-b border-gray-100">
                    <h2 class="font-semibold text-gray-800">Anúncios</h2>
                </header>

                <div class="p-3">
                    <div class="overflow-x-auto">
                        <table class="table-auto w-full">
                            <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                            <tr>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">MLB</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Título</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Visitas</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Palavra</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Status</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Atualização</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-end pr-3">Excluir</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="text-sm divide-y divide-gray-100">
                            <tr v-for="(item,index) in items">
                                <td class="p-2 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <a :href="'/redirect-to-marketplace/'+item.item_id"
                                           target="_blank"
                                           class="font-semibold text-base text-gray-800">{{ item.item_id }}</a>
                                    </div>
                                </td>
                                <td class="p-2 whitespace-nowrap">

                                    {{ item.title || 'Processando..' }}

                                </td>
                                <td class="p-2 whitespace-nowrap">

                                    {{ item.visits || '0' }}

                                </td>
                                <td class="p-2 whitespace-nowrap">

                                    {{ item.name }}

                                </td>
                                <td class="p-2 whitespace-nowrap">

                                    {{ item.status || 'Desconhecido' }}

                                </td>
                                <td>
                                    {{ dateTime(item.updated) }}
                                </td>
                                <td class="p-2 whitespace-nowrap text-end">
                                    <button
                                        class="border border-red-500 bg-red-500 text-white text-xs uppercase rounded-md px-4 py-1 m-2 transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline"
                                        v-on:click="destroy(item.id)">Excluir</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </AuthenticatedLayout>
</template>
