<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import { reactive, ref } from 'vue';

defineProps({
    words: Array,
})

const form = reactive({
    name: '',
})

function submit() {
    router.post('/admin/words/create', form)
    form.name='';
}

function destroy( id ) {
    router.delete('/admin/words/destroy/' + id)
}

const updateWord = async (word) => {
    try {

        const response = await axios.post('/admin/words/toogle', {
            id: word.id,
            is_active: word.is_active
        });

        if (response.data.success) {
            console.log("Atualização realizada com sucesso!");
        } else {
            console.log("Erro ao atualizar");
        }
    } catch (error) {
        console.error("Fatal Error:", error);
    }
}

</script>


<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Dashboard</h2>
        </template>

        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

            <div class="w-full max-w-7xl mt-10 mx-auto bg-white shadow-lg rounded-lg border border-gray-200">
                <header class="px-5 py-4 border-b border-gray-100">
                    <h2 class="font-semibold text-gray-800">Palavras</h2>
                </header>
                <form @submit.prevent="submit">

                    <div class="px-3 py-2 bg-gray-100">
                        <input type="text" id="email" placeholder="Adicionar palavra"
                               v-model="form.name"
                               class="my-2 flex h-12 w-full shadow-sm items-center bg-white justify-center rounded-xl border p-3 text-sm outline-none border-gray-200">
                    </div>
                </form>

                <div class="p-3">
                    <div class="overflow-x-auto">
                        <table class="table-auto w-full">
                            <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                            <tr>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Nome</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Ativo</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-end pr-3">Excluir</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="text-sm divide-y divide-gray-100">
                            <tr v-for="(word,index) in words">
                                <td class="p-2 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="font-semibold text-base text-gray-800">{{ word.name }}</div>
                                    </div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class=" ">
                                        <input
                                            v-model="words[index].is_active"
                                            @change="updateWord(word)"
                                            type="checkbox"
                                            class="appearance-none w-9 focus:outline-none checked:bg-blue-300 h-5 bg-gray-300 rounded-full before:inline-block before:rounded-full before:bg-blue-500 before:h-4 before:w-4 checked:before:translate-x-full shadow-inner transition-all duration-300 before:ml-0.5"
                                        />
                                    </div>
                                </td>
                                <td class="p-2 whitespace-nowrap text-end">
                                    <button
                                        class="border border-red-500 bg-red-500 text-white text-xs uppercase rounded-md px-4 py-1 m-2 transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline"
                                        v-on:click="destroy(word.id)">Excluir</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </AuthenticatedLayout>
</template>
